.App {
  text-align: center;
}

.colorOptions {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

button {
  background-color: #e7e7e7; 
  color: black;
  border: 1px solid black;
  padding: 15px 32px;
  cursor: pointer;
}

button:hover {
  background-color: gray; /* Green */
  color: white;
}